## Dates and times

### Creating datetimes by hand

In [1]:
# Import datetime
from datetime import datetime

# Create a datetime object
dt = datetime(2017, 10, 1, 15, 26, 26)

# Print the results in ISO 8601 format
print(dt.isoformat())

2017-10-01T15:26:26

In [2]:
# Replace the year with 1917
dt_old = dt.replace(year=1917)

# Print the results in ISO 8601 format
print(dt_old)

1917-10-01 15:26:26

### Counting events before and after noon

In [3]:
import pandas as pd

df = pd.read_csv('./dataset/capital-onebike.csv', header=0)
df['Start date'] = pd.to_datetime(df['Start date'])
df['End date'] = pd.to_datetime(df['End date'])

onebike_datetimes = []

for index, row in df.iterrows():
    onebike_datetimes.append({'start':row['Start date'], 'end':row['End date']})

In [4]:
# Create dictionary to hold results
trip_counts = {'AM': 0, 'PM': 0}

# Loop over all trips
for trip in onebike_datetimes:
    if trip['start'].hour < 12:
        # Increment the counter for before noon
        trip_counts['AM'] += 1
    else:
        # Increment the counter for after noon
        trip_counts['PM'] += 1
        
print(trip_counts)

{'AM': 94, 'PM': 196}

## Printing and parsing datetimes

### Turning strings into datetimes

In [5]:
# Starting string, in YYYY-MM-DD HH:MM:SS format
s = '2017-02-03 00:00:01'

# Write a format string to parse s
fmt = '%Y-%m-%d %H:%M:%S'

# Create a datetime object d
d = datetime.strptime(s, fmt)

# Print d
print(d)

2017-02-03 00:00:01

### Parsing pairs of strings as datetimes

In [6]:
df = pd.read_csv('./dataset/capital-onebike.csv', header=0)
df.head()

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member
3,2017-10-02 08:56:45,2017-10-02 09:18:03,31037,Ballston Metro / N Stuart & 9th St N,31295,Potomac & M St NW,W20529,Member
4,2017-10-02 18:23:48,2017-10-02 18:45:05,31295,Potomac & M St NW,31230,Metro Center / 12th & G St NW,W20529,Member

In [7]:
onebike_datetimes_strings = df[['Start date', 'End date']]
onebike_datetimes_strings.head()

            Start date             End date
0  2017-10-01 15:23:25  2017-10-01 15:26:26
1  2017-10-01 15:42:57  2017-10-01 17:49:59
2  2017-10-02 06:37:10  2017-10-02 06:42:53
3  2017-10-02 08:56:45  2017-10-02 09:18:03
4  2017-10-02 18:23:48  2017-10-02 18:45:05

In [8]:
# Write down the format string
fmt = '%Y-%m-%d %H:%M:%S'

# Initialize
onebike_datetimes = []
for i, (start, end) in onebike_datetimes_strings.iterrows():
    trip = {'start': datetime.strptime(start, fmt),
            'end': datetime.strptime(end, fmt)}
    
    onebike_datetimes.append(trip)

### Recreating ISO format with strftime()

In [9]:
# Pull out the start of the first trip
first_start = onebike_datetimes[0]['start']

# Format to feed to strftime()
#2017-10-01T15:26:26
fmt = '%Y-%m-%dT%H:%M:%S'

# Print out date with .isoformat(), the with .strftime() to compare
print(first_start.isoformat())
print(first_start.strftime(fmt))

2017-10-01T15:23:25
2017-10-01T15:23:25

### Unix timestamps

In [10]:
# Starting timestamps
timestamps = [1514665153, 1514664543]

# Datetime objects
dts = []

# Loop
for ts in timestamps:
    dts.append(datetime.fromtimestamp(ts))
    
# Print results
print(dts)

[datetime.datetime(2017, 12, 31, 5, 19, 13), datetime.datetime(2017, 12, 31, 5, 9, 3)]

## Working with durations

### Turning pairs of datetimes into durations

In [11]:
# Initialize a list for all the trip durations
onebike_durations = []

for trip in onebike_datetimes:
    # Create a timedelta object corresponding to the length of the trip
    trip_duration = trip['end'] - trip['start']
    
    # Get the total elapsed seconds in trip_duration
    trip_length_seconds = trip_duration.total_seconds()
    
    # Append the results to our list
    onebike_durations.append(trip_length_seconds)

### Average trip time

In [12]:
# What was the total duration of all trips
total_elapsed_time = sum(onebike_durations)

# What was the total number of trips
number_of_trips = len(onebike_durations)

# Divide the total duration by the number of trips
print(total_elapsed_time / number_of_trips)

1178.9310344827586

### The long and the short of why time is hard

In [14]:
# Calculate shortest and longest trips
shortest_trip = min(onebike_durations)
longest_trip = max(onebike_durations)

# Print out the results
print("The shortest trip was " + str(shortest_trip) + " seconds")
print("The longest trip was " + str(longest_trip) + " seconds")

The shortest trip was -3346.0 seconds
The longest trip was 76913.0 seconds